body {
	margin: 0;
}

#kota {
	background-color: #ccc;
	display: block;
	position: absolute;
	z-index: 0;
	right: 0;
	width: calc(100% - 250px);
	max-height: 100%;
}

#terminal {
	width: 250px;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: #aabec6;
	color: #333;
}

#terminal .padding {
	padding: 10px;
}

.btn {
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	outline: none !important;
}

.btn:hover {
	cursor: pointer;
	background-color: #000;
	border-color: #aaa;
	color: #fff;
}

table {
	width: 100%;
}

table tr td {
	border: 1px solid #000;
	text-align: center;
	padding: 10px;
}

#food-stock, #nb-ants {
	text-align: left;
}

.barbox, .bar {
	border-radius: 10px;
}

.barbox {
	height: 20px;
	background-color: #000;
	border: 2px solid #000;
	position: relative;
	width: 95%;
    margin: 5px auto;
}

.bar {
	height: 20px;
	min-width: 20px;
	display: inline-block;
}

.bar.ants {
	background-color: #621;
}

.bar.food {
	background-color: #008400;
}

.barlabel {
	color: #fff;
    width: 100%;
    display: inline-block;
    height: 20px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 980px) {
	html * {
		font-size: 32px;
	}

	.bar, .barlabel, .barbox {
		height: 40px;
	}

	#terminal {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: auto;
		z-index: 100;
		padding: 40px;
		width: calc(100% - 80px);
	}

	#kota {
		position: static;
		margin: auto;
		width: 100%;
	}
}